#files
em20211129_kda.py
em20211123.py
KmeansTemplate.py
test.py
test2.py
test.ipynb
em_no_class.py
bimodial_dist_test.ipynb
ExpectationMaximization2.py
ExpectationMaximization3.py
EM_Prior_Geo_Dist.py
EM_Abra_Independent.py
ExpectationMaximization copy.py
Evaluation_EM_Geo.py
ExpectationMaximization_GEO_NO_PM.py
probability_spread

# folders
test/
data/
plotting/plots/
results_after_EM/
evaluation_results/
temp/
.idea/
results/
confusion_data/